@charset "UTF-8";

header {
	text-align: center;
}

boday {
	text-align: center;
}

h1 {
	color: #000000;
}

a:link, a:visited {
	text-decoration: none;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30px;
	background-color: gray;
	color: white;
	text-align: center;
}

table {

	width: 90%;
	text-align: center;
}

.in_table {
	border: 1px solid gray;
	border-width: 1px 0px 1px 0px;
	height: 50;
	text-align: center;
}

.table_line {
	border: 1px solid gray;
	width: auto;
	height: 50;
	border-right: 0px;
	border-left: 0px;
	text-align: center;
}
}